In [78]:
from sympy import *
import pandas as pd
import numpy as np
from sympy import simplify

# Set up the maximum width to be displayed in a dataframe column
pd.set_option('display.max_colwidth',None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [86]:
def pivot_operation(T, row, column):
  T[row] *= 1 / T[row, column]
  nrows = T.shape[0]
  for i in range(nrows):
    if i != row:
      T[i] += T[row] *(-T[i, column])
  return np.vectorize(simplify)(T)

In [88]:
# np.vectorize(function) enables the function to apply element-wise over an array
# Rational function in Sympy package converts a number into fraction type. 
#   Algebraic expressions resulting from mathmetical operations of fraction types 
#   are displayed automatically in fractions.

M = symbols("M")
A = np.vectorize(Rational)(np.array([[1,4,2,-1,0,1,0,8],
                                     [3,2,0,0,-1,0,1,6],
                                     [2,3,1,0,0,0,0,0]]))
M_variables = [5, 6]
index = range(3)  
for variable in M_variables:
  A[-1, 5] += M
  A[-1, 6] += M
print(pd.DataFrame(A))

   0  1  2   3   4    5    6  7
0  1  4  2  -1   0    1    0  8
1  3  2  0   0  -1    0    1  6
2  2  3  1   0   0  2*M  2*M  0

In [89]:
row = 0
column = 5

T = A
T = pivot_operation(T, row, column)
T1 = T
print(pd.DataFrame(T1))

         0        1        2    3   4  5    6      7
0        1        4        2   -1   0  1    0      8
1        3        2        0    0  -1  0    1      6
2  2 - 2*M  3 - 8*M  1 - 4*M  2*M   0  0  2*M  -16*M

In [90]:
row = 1
column = 6

T = T1
T = pivot_operation(T, row, column)
T2 = T
print(pd.DataFrame(T2))

         0         1        2    3    4  5  6      7
0        1         4        2   -1    0  1  0      8
1        3         2        0    0   -1  0  1      6
2  2 - 8*M  3 - 12*M  1 - 4*M  2*M  2*M  0  0  -28*M

In [91]:
row = 1
column = 0

T = T2
T = pivot_operation(T, row, column)
T3 = T
print(pd.DataFrame(T3))

   0             1        2    3            4  5            6          7
0  0          10/3        2   -1          1/3  1         -1/3          6
1  1           2/3        0    0         -1/3  0          1/3          2
2  0  5/3 - 20*M/3  1 - 4*M  2*M  2/3 - 2*M/3  0  8*M/3 - 2/3  -12*M - 4

In [92]:
row = 0
column = 2

T = T3
T = pivot_operation(T, row, column)
T4 = T
print(pd.DataFrame(T4))

   0    1  2     3     4          5          6   7
0  0  5/3  1  -1/2   1/6        1/2       -1/6   3
1  1  2/3  0     0  -1/3          0        1/3   2
2  0    0  0   1/2   1/2  2*M - 1/2  2*M - 1/2  -7

In [93]:
row = 0
column = 1

T = T4
T = pivot_operation(T, row, column)
T5 = T
print(pd.DataFrame(T5))

   0  1     2      3     4          5          6    7
0  0  1   3/5  -3/10  1/10       3/10      -1/10  9/5
1  1  0  -2/5    1/5  -2/5       -1/5        2/5  4/5
2  0  0     0    1/2   1/2  2*M - 1/2  2*M - 1/2   -7